Repository rafalp/Misago, pull requests merged in 2025-02, with the labels that each got.

#1854 Update Django's `{% with %}` template syntax
  misago/permissions/templates/misago/permissions_panel.html
  misago/templates/misago/account/settings/delete.html
  misago/templates/misago/account/settings/details_form.html
  misago/templates/misago/account/settings/email_form.html
  misago/templates/misago/account/settings/password_form.html
  misago/templates/misago/account/settings/preferences_form.html
  misago/templates/misago/account/settings/username_form.html
  misago/templates/misago/admin/conf/general_settings.html
  misago/templates/misago/admin/conf/threads_settings.html
  misago/templates/misago/admin/conf/users_settings.html
  misago/templates/misago/admin/themes/assets/css.html
  misago/templates/misago/admin/themes/assets/media.html
  misago/templates/misago/auth/login_form.html
  misago/templates/misago/auth/login_page.html
  misago/templates/misago/category/breadcrumbs.html
  misago/templates/misago/errorpages/ban_message.html
  misago/templates/misago/moderation/move_threads.html
  misago/templates/misago/posting/invite_users_form.html
  misago/templates/misago/posting/post_form.html
  misago/templates/misago/posting/title_form.html
  misago/templates/misago/profile/base.html
  misago/templates/misago/thread_old/thread.html
  misago/templates/misago/threads_list/index.html
Labels: area: backend, area: theme

#1859 Added CRLF linebreaks parser handler
  misago/parser/html.py
  misago/parser/parser.py
  misago/parser/plaintext.py
  misago/parser/tests/test_parser.py
  misago/parser/views.py
Labels: area: backend, feature: parser

#1864 Threads list design tweaks
  frontend/src/editor/uploader.js
  frontend/src/style/misago/threads-lists.less
  frontend/src/style/misago/variables.less
  misago/static/misago/css/misago.css
  misago/static/misago/css/misago.css.map
  misago/templates/misago/threads_list/index.html
Labels: area: frontend, area: theme

#1865 Scroll to the top of post on inline edit
  misago/templates/misago/inline_edit/form.html
  misago/templates/misago/posting/preview.html
  misago/templates/misago/posts_feed/post.html
Labels: area: backend, area: theme

#1866 Remove post-user mentions relation
  misago/conf/defaults.py
  misago/markup/mentions.py
  misago/markup/parser.py
  misago/markup/tests/test_mentions.py
  misago/threads/api/postingendpoint/mentions.py
  misago/threads/migrations/0016_remove_post_mentions.py
  misago/threads/migrations/0017_update_attachments_markup.py
  misago/threads/models/post.py
  misago/threads/signals.py
  misago/threads/tests/test_post_mentions.py
Labels: area: backend, feature: thread page, feature: posting

#1868 Delete subscriptions
  misago/categories/delete.py
  misago/conf/admin/forms/users.py
  misago/conf/admin/tests/test_blank_avatar_validation.py
  misago/conf/migrations/0018_delete_subscriptions.py
  misago/conf/operations.py
  misago/templates/misago/admin/conf/users_settings.html
  misago/templates/misago/admin/users/edit.html
  misago/test/categories.py
  misago/threads/api/threadendpoints/merge.py
  misago/threads/migrations/0017_delete_subscription.py
  misago/threads/migrations/0018_update_attachments_markup.py
  misago/threads/models/__init__.py
  misago/threads/models/subscription.py
  misago/threads/participants.py
  misago/threads/signals.py
  misago/threads/tests/test_privatethread_patch_api.py
  misago/threads/tests/test_thread_merge_api.py
  misago/threads/tests/test_thread_patch_api.py
  misago/threads/tests/test_threads_merge_api.py
  misago/threads/urls/__init__.py
  misago/threads/views/subscribed.py
  misago/users/admin/forms/users.py
  misago/users/admin/tests/test_users.py
  misago/users/migrations/0030_remove_user_subscribe_to_replied_threads_and_more.py
  misago/users/models/user.py
  misago/users/setupnewuser.py
  misago/users/tests/test_bio_profilefield.py
  misago/users/tests/test_gender_profilefield.py
  misago/users/tests/test_joinip_profilefield.py
  misago/users/tests/test_new_user_setup.py
  misago/users/tests/test_twitter_profilefield.py
Labels: area: backend, area: theme, deprecated, feature: admin

#1869 Fix broken paste in editor when no files are pasted
  frontend/src/editor/editor.js
  misago/static/misago/js/misago.js
  misago/static/misago/js/misago.js.map
Labels: area: frontend

#1874 Strip extra whitespace from block elements
  misago/parser/html.py
  misago/parser/plaintext.py
  misago/parser/tests/__snapshots__/test_html.ambr
  misago/posting/state/base.py
Labels: area: backend, feature: parser

#1875 Support relative urls in parser
  misago/parser/tests/test_clean_displayed_url.py
  misago/parser/tests/test_clean_url.py
  misago/parser/urls.py
Labels: area: backend, feature: parser

#1876 Simplify `clean_displayed_url` logic
  misago/parser/tests/test_clean_displayed_url.py
  misago/parser/urls.py
Labels: area: backend, feature: parser

#1879 Improve URL handling in parser
  misago/parser/patterns/urls.py
  misago/parser/tests/test_urls.py
  misago/templates/misago/posting/preview.html
Labels: area: backend, feature: parser

#1877 Support tables in parser
  frontend/src/style/misago/rich-text.less
  misago/parser/html.py
  misago/parser/patterns/__init__.py
  misago/parser/patterns/table.py
  misago/parser/patterns/urls.py
  misago/parser/plaintext.py
  misago/parser/postprocessors/cleanast.py
  misago/parser/tests/__snapshots__/test_html.ambr
  misago/parser/tests/__snapshots__/test_plaintext.ambr
  misago/parser/tests/test_html.py
  misago/parser/tests/test_plaintext.py
  misago/parser/tests/test_table.py
  misago/parser/views.py
  misago/posting/state/base.py
  misago/static/misago/css/misago.css
  misago/static/misago/css/misago.css.map
Labels: area: backend, area: theme, feature: parser

#1886 Add lightbox for viewing attachments and images
  frontend/src/editor/uploader.js
  frontend/src/index.js
  frontend/src/lightbox.js
  frontend/src/style/index.less
  frontend/src/style/misago/lightbox.less
  frontend/src/style/misago/rich-text.less
  frontend/src/timestamps.js
  misago/parser/html.py
  misago/parser/tests/__snapshots__/test_html.ambr
  misago/parser/tests/test_rich_text.py
  misago/static/misago/css/misago.css
  misago/static/misago/css/misago.css.map
  misago/static/misago/js/misago.js
  misago/static/misago/js/misago.js.map
  misago/templates/misago/attachment_details/video.html
  misago/templates/misago/edit_private_thread/index.html
  misago/templates/misago/edit_private_thread_post/index.html
  misago/templates/misago/edit_thread/index.html
  misago/templates/misago/edit_thread_post/index.html
  misago/templates/misago/lightbox/caption.html
  misago/templates/misago/lightbox/index.html
  misago/templates/misago/lightbox/modal.html
  misago/templates/misago/posting/attachments_form.html
  misago/templates/misago/posting/preview.html
  misago/templates/misago/posts_feed/post.html
  misago/templates/misago/private_thread/index.html
  misago/templates/misago/reply_private_thread/index.html
  misago/templates/misago/reply_thread/index.html
  misago/templates/misago/rich_text/attachment_caption.html
  misago/templates/misago/rich_text/attachment_image.html
  misago/templates/misago/rich_text/attachment_video.html
  misago/templates/misago/start_private_thread/index.html
  misago/templates/misago/start_thread/index.html
  misago/templates/misago/thread/index.html
Labels: area: frontend, area: backend, area: theme, feature: parser, feature: thread page, feature: posting

#1888 Fix lightbox showing pagination if post has single attachment
  frontend/src/lightbox.js
  misago/static/misago/js/misago.js
  misago/static/misago/js/misago.js.map
Labels: area: frontend

#1889 Improve URL validation regex in message parser
  misago/parser/patterns/urls.py
  misago/parser/tests/test_urls.py
Labels: area: backend, feature: parser

#1890 Set timeout for GH job at 20 minutes
  .github/workflows/tests.yml
Labels: meta
